.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80vh; 
}

.centered-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
}
